@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
header {
    height: 150px;
    width:100%;
    
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300 ;
    color: hsl(0, 0%, 100%);
    background-color: #010030; /* For browsers that do not support gradients */
    background-image: linear-gradient(180deg, #000016, #004793, #000016);
    background-repeat: no-repeat ;
    background-attachment: fixed;
    max-width: 1200px;
    margin: auto;
   
}

/* headings and logo */
h1,h2 {
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #ffffff;

}
#logo {
    float:left ;
    width: 400px;
    margin-left: 30px;
    margin-top: 20px;

}
#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu li {
    line-height: 40px;
}


#menu li {
    float: right;
    list-style-type: none;
    margin-top: 25px;
    margin-right: 30px;
  

}
#menu a {
    text-decoration: none;
    color: inherit;

}

#menu a:hover {
    border-bottom: 1px solid #ffffff;
}
.active {
    border-bottom: 1px solid #ffffff
    ; 
}

/* Main Image and Explore Button */

#home-main {
    width: 100%;
    }

#main-image {
   
    width: 100%;
}
.museum-view-main-image {
    text-align: center;
    width:100%;
    padding: 30px;

    
    /* animates zoom effect on loading page */
    animation-name: logo-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

 /* creates the level of zoom for main image */
 @keyframes logo-zoom {
     from{
         transform: scale(1);

     }
     to{
         transform: scale(1.1);
     }
 }
   /* Tagline */

   #tagline {
       text-align: center;
       padding: 25px;
   }
  /* Explore Button */

  #explore-button {
      padding: 33px;
      text-align: center;
  }

.explore-button {
      text-align: center;
      color: #ffffff;
      text-decoration: none;
      border:2px solid #ffffff;
      font-size: 110%;
      border-radius: 15px;
      cursor: pointer;
      background-color: #977702;
      padding: 15px 32px;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      text-transform: uppercase;
     
      
           
  }
  
.explore-button:hover {
    background-color: #cea307;
    color: #ffffff;
    text-decoration: none;
}

.explore-button:active {
  background-color:#977702;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
 /* footer */

footer {
    
    bottom: 0;
    right:0;
    padding: 30px;
}
.copyright {
    color:#ffffff;
    text-align: center;
    
}

.social-networks {
    text-align: center;
    
}
.social-networks > li {
    display: inline-block;
    margin: 5px;
    padding: 10px;

}

.social-networks i {
    font-size: 160%;
    margin: 5%;
    padding: 15%;
    color: #ffffff;


}
 
/* Explore Page */

#explore-main {
    display: flex;
}

#explore-text {
    text-align: center;
    margin: 2.5%;
    padding: 10px;
}

#explore-text p {
    font-size: large;
    text-align:justify;
}

#register-link, #drawings-link {
    color:#ffffff;
    text-decoration-line: underline;
    

}
/* Video */

#explore-video {
   
    margin-top: 2.5%;
    width: 100vw;
    padding: 10px;
    ;
}


/* Features */

#explore-features h2 {
    font-size: 100px;
    text-align: center;
    color:#977702
}

#explore-features h3 {
        text-align: center;

}

#explore-features p {
    
    width: 33%;
    display: inline;

}

#feature-one {
    padding: 30px;
    width: 33%;
    float: left;
}

#feature-three {
    padding: 30px;
    width: 33%;
    float: right;
}

#feature-two {
    padding: 30px;
    width: 33%;
    margin: 0 auto;
}
/* Register Form */

#register-main {
    display: flex;
}


#register-form {
    
        
        width: 420px;
        padding: 10px;
        border: 2px solid #977702;
        margin: 30px;        

}
#register-form h2 {
         margin-bottom: 20px;
}
.form-input {
   
    color: #050505;
    width: 400px;
    margin:5px 0 20px 0;
    border: 2px solid #977702;
    display: flex;
    padding: 10px;
    
}
.form-input:hover {
    border-color: #977702;
}


#register {
        text-align: center;
        color: #ffffff;
        text-decoration: none;
        border:2px solid #ffffff;
        font-size: 110%;
        border-radius: 15px;
        cursor: pointer;
        background-color: #977702;
        padding: 15px 32px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        text-transform: uppercase;
        margin-top: 20px;
        
             
    }
        
  #register:hover {background-color: #cea307}
  
  #register:active {
    background-color:#977702;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  #register-extra {
      display: flex;
      flex-direction: column;
  }
  #cardiff-street-register img {
    max-width: 100%;
    margin: 30px;
    
}

  #register-benefits {
      list-style-type: square;
      padding: 30px;

  }

  #register-benefits ul {
    font-size: x-large;
  }
   
  /* Contact Form */

  #contact-main {
      width: 100%;
      display: flex;
      flex-direction:row ;
      
  }

  #contact-form {
    margin: 30px ;
    color: #fff;
    border: 2px solid #977702;
    max-width:400px;
    padding: 30px;
    
    

  }

  #contact-form input {
      max-width: 350px;
  }

  #contact-form h2 {
        margin-bottom: 30px;
}
#send {
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    border:2px solid #ffffff;
    font-size: 110%;
    border-radius: 15px;
    cursor: pointer;
    background-color: #977702;
    padding: 15px 32px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-transform: uppercase;
    margin-top: 20px;
    
}

#send:hover {background-color: #cea307}
  
  #send:active {
    background-color:#977702;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#contact-extra {
    display: flex;
    flex-direction: column;
}
#contact-image {
        width: 100%;
        margin: 20px 20px 20px 30px;
    }
    
    #contact-details {
        border: 2px solid #977702;
        margin: 0 20px 20px 30px;
        padding: 20px;
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
   

#ced-contact {
    float: left;
    padding: 10px;

}
#mjb-contact {
    float:left;
    padding: 10px;
}

#contact-details img {
    height:50px;
    width: 50px;
    border-radius: 50%;
    padding: 5px;
}


#image-street {
    
    width: 100%;
    margin-top: 30px;
    
  
}
#image-street-two {
width: 100%;
margin: 0 20px 10px 30px;
}

/* Contact us Form Map */

  #map-contact {
     
      width: 100%;
      margin: 30px;
  }
  #map-image {
    height: 300px;
    width: 100%;
    padding-top: 50px;

  }

  /* Gallery Page */

  #gallery {
      margin: 30px;
  }

  .carousel-caption  {
    background: #6c757d7a;
  }

  /* Media Queries */

 
   